#footer-guj {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1
}

#footer-guj ol, #footer-guj ul {
    list-style: none
}

#footer-guj blockquote, #footer-guj q {
    quotes: none
}

#footer-guj blockquote:before, #footer-guj blockquote:after, #footer-guj q:before, #footer-guj q:after {
    content: '';
    content: none
}

#footer-guj table {
    border-collapse: collapse;
    border-spacing: 0
}

#footer-guj a {
    text-decoration: none;
    color: inherit
}

#footer-guj .rodape {
    font-size: 0.9rem;
    overflow: hidden;
    margin-top: 2em;
    padding-bottom: 2em
}

#footer-guj .rodape-titulo {
    color: #000000;
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    font-size: 1.15em;
    margin-bottom: 1em;
    line-height: 1.25
}

#footer-guj .rodape-tituloSecundario {
    margin-top: 2em
}

#footer-guj .rodape-secao {
    max-width: 315px;
    margin-bottom: 2em
}

#footer-guj .rodape-secaoOutros {
    min-width: 293px
}

#footer-guj .rodape-item {
    padding: .6em .25em;
    color: #6c6a69;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 500
}

#footer-guj .rodape-itemLink {
    display: block;
    padding: .1em 0
}

#footer-guj .rodape-logo {
    display: none
}

#footer-guj .rodape-breadcrumbs {
    display: none
}

#footer-guj .rodape-formularioDaNewsletter {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    padding: .2em
}

#footer-guj .rodape-campoDaNewsletter {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;
    border-radius: 2px;
    height: 35px;
    width: calc(100% - 55px);
    margin-right: 3px;
    text-indent: .2em;
    font-size: 1.2em;
    color: #6C6A69;
    font-size: .9em
}

#footer-guj .rodape-botaoDaNewsletter {
    display: inline-block;
    vertical-align: middle;
    font-family: "museo", serif;
    color: #fff;
    font-size: 1.2em;
    background-color: #333;
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 32px;
    cursor: pointer
}

#footer-guj .rodape-botaoDaNewsletter:hover {
    background-color: #666
}

#footer-guj .rodape-formaDePagamento:nth-child(n+2) {
    margin-top: 1em
}

#footer-guj .activecampaign__wrapper {
    margin: 0 0 9px 25px
}

#footer-guj .activecampaign-form__intro {
    font-size: 12px;
    color: #525c65;
    line-height: 17px
}

#footer-guj .activecampaign-form__intro a {
    text-decoration: underline;
    color: #0aadff
}

#footer-guj .activecampaign-button {
    background-color: #e9e9e9;
    color: #222222;
    border: 0;
    padding: 6px 10px;
    display: block;
    height: 30px;
    transition: all 0.25s
}

#footer-guj .activecampaign-button:hover {
    background: #919191;
    color: #fff
}

@media (min-width: 325px) and (max-width: 859px) {
    #footer-guj .rodape-formaDePagamento {
        display: inline-block
    }

    #footer-guj .rodape-formaDePagamento:nth-child(n+2) {
        margin-left: 1.5em;
        margin-top: 0
    }
}

#footer-guj .rodape-titulo-espacador {
    display: none
}

#footer-guj .rodape-item .compartilhar-facebook {
    display: inline-block;
    max-width: 13em;
    font-family: "open-sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 2.7;
    margin-bottom: .5em;
    color: #6c6a69
}

#footer-guj .compartilhar-facebook {
    background-image: url("/uploads/facebook.png")
}

@media (min-width: 475px) {
    #footer-guj .rodape-secao {
        display: inline-block;
        vertical-align: top
    }

    #footer-guj .rodape-secaoCategorias .rodape-titulo {
        max-width: 7em
    }

    #footer-guj .rodape-secaoLinks {
        margin-left: 4em
    }

    #footer-guj .rodape-secaoLinks .rodape-titulo-espacador {
        width: 50px;
        display: inherit
    }
}

@media (min-width: 685px) {
    #footer-guj .rodape-logo {
        float: left;
        display: block;
        margin-right: 3em
    }

    #footer-guj .rodape-secaoOutros {
        margin-left: 125px
    }
}

@media (min-width: 881px) {
    #footer-guj .rodape-secaoOutros {
        margin-left: 4em;
        min-width: 0
    }

    #footer-guj .rodape-secaoOutros .rodape-titulo {
        max-width: 14em
    }
}

@media (min-width: 928px) {
    #footer-guj .rodape {
        text-align: center
    }

    #footer-guj .rodape-secao {
        text-align: left
    }

    #footer-guj .rodape-secao+.rodape-secao {
        margin-left: calc(50% - 400px)
    }

    #footer-guj .rodape-formaDePagamento {
        display: inline-block
    }

    #footer-guj .rodape-formaDePagamento:nth-child(n+2) {
        margin-left: 1.5em;
        margin-top: 0
    }

    #footer-guj .rodape-secaoOutros {
        min-width: 293px
    }
}

/*# sourceMappingURL=desktop_theme_3_44876e0acb99ed2cf7652374ec910a440e103a4e.css.map?__ws=www.guj.com.br */